#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
		&kp Q 		&kp W		&kp E		&kp R		&kp T			&kp Y		&kp U		&kp I		&kp O		&kp P
            	&kp A		&kp S		&kp D 		&kp F		&kp G			&kp H		&kp J		&kp K		&kp L		&kp COLON
            	&kp Z		&kp X		&kp C		&kp V		&kp B			&kp N		&kp M		&kp COMMA	&kp DOT		&kp SQT
                						&mt LCTRL SPC	&mt LSHIFT ENTER	&mt RGUI GRAVE	&to 1
            >;
        };


        right_layer {
            bindings = <
		&kp INS 	&kp N1		&kp N2		&kp N3		&kp MINUS		&kp LPAR	&kp RPAR	&kp LBKT	&kp RBKT	&kp BSLH
            	&kp TAB		&kp N4		&kp N5 		&kp N6		&kp EQUAL		&kp LEFT	&kp DOWN	&kp UP		&kp RIGHT	&trans
            	&kp DEL		&kp N7		&kp N8		&kp N9		&kp N0			&kp FSLH	&kp QMARK	&trans		&trans		&to 3
                						&to 0		&mt LSHIFT ESC		&mt RALT GRAVE	&to 2
            >;
        };

        left_layer {
            bindings = <
		&kp C_BRI_DN 	&kp C_BRI_UP	&trans		&trans		&trans			&trans		&trans		&kp C_VOL_DN	&kp C_VOL_UP	&kp C_MUTE
		&kp C_PREV 	&kp C_PP	&kp C_NEXT	&trans		&trans			&trans		&trans		&trans		&trans		&kp K_APP
		&kp C_PWR 	&trans		&trans		&trans		&trans			&trans		&trans		&trans		&trans		&to 3
                						&to 0		&trans			&trans		&to 2
            >;
        };

        mouse_layer {
            bindings = <
		&kp INS 	&kp N1		&kp N2		&kp N3		&kp MINUS		&kp LPAR	&kp RPAR	&kp LBKT	&kp RBKT	&kp BSLH
            	&kp TAB		&kp N4		&kp N5 		&kp N6		&kp EQUAL		&kp LEFT	&kp DOWN	&kp UP		&kp RIGHT	&trans
            	&kp DEL		&kp N7		&kp N8		&kp N9		&kp N0			&kp FSLH	&kp QMARK	&trans		&trans		&to 3
                						&to 0		&mt LSHIFT ESC		&trans		&to 2
            >;
        };

        bt_layer {
            bindings = <
		&sys_reset	&trans     	&trans		&bt BT_SEL 0	&trans			&trans		&trans		&trans		&trans		&sys_reset
          	&bootloader	&trans		&trans		&bt BT_SEL 1	&trans    		&trans		&trans		&trans		&trans		&bootloader
            	&trans		&trans		&bt BT_CLR	&bt BT_SEL 2	&trans    		&trans		&trans		&trans		&trans		&trans
								&to 0     	&trans         		&trans		&trans
            >;
        };
    };
};
